html {
    font-family: 'Roboto', sans-serif;
    background-image: url('/assets/images/background.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#wave {
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
}

h1 {
    margin-top: 200px;
    font-size: 75px;
    color: #FFFFFF;
    position: absolute;
}

#wave h1:nth-child(1) {
    color: transparent;
    -webkit-text-stroke: 2px #008080;
}

#wave h1:nth-child(2) {
    color: #008080;
    animation: wavy 2.5s ease-in-out infinite;
}

h3 {
    margin-top: 160px;
    font-size: 25px;
    text-align: center;
    animation: bounce 3s ease-in-out 1s;
}

.game-board {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: transparent;
    margin: 20px auto;
    padding: 10px;
    height: 300px;
    width: 400px;
}

.tile{
    border: 3px solid black;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

#reset-button {
    height: 35px;
    width: 140px;
    border: none;
    border-radius: 10px;
    padding: 10px;
    background: linear-gradient(#FFF5C3, #9452A5);
    margin: 30px auto;
    font-size: 18px;
    font-weight: bold;
}

@keyframes bounce {
    0%{ transform: translateX(0);}
    20% {transform: translateX(-30px);}
    40% {transform: translateX(-10px);}
    60% {transform: translateX(10px);}
    80% {transform: translateX(20px);}
    100%{ transform: translateX(0);}
}

@keyframes wavy {
    0%, 100% {
        clip-path: polygon(0% 50%, 6% 46%, 17% 41%, 26% 45%, 35% 50%, 41% 52%, 40% 58%, 52% 63%, 60% 57%, 63% 50%, 73% 43%, 82% 40%, 90% 45%, 100% 51%, 100% 100%, 0% 100%);
    }
    50% {
        clip-path: polygon(0% 49%, 6% 56%, 16% 60%, 24% 55%, 32% 50%, 40% 44%, 47% 41%, 56% 46%, 63% 50%, 69% 57%, 78% 61%, 86% 58%, 100% 55%, 100% 100%, 0% 100%);
    }
}

