body {
    display: flex;
    flex-direction: column;
    height: 100vw;
    background-color: gray;
}

h1, h3{
    text-align: center;
}

h3 {
    margin-bottom: 40px; 
}
.game-board {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7);
    grid-gap: 1vh;
    height: 400px;
    width: 450px;
    border: 5px solid black;
    margin: 0 auto;
}

.tile {
    border: 1px solid turquoise;
    border-radius: 50%;
}

#reset-button {
    width: 75px;
    margin: 15px auto;
}

