body {
    display: flex;
    flex-direction: column;
    height: 100vw;
}

h1, h3{
    text-align: center;
}

h3 {
    margin-bottom: 40px; 
}

.game-board {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 2vh;
    height: 350px;
    width: 450px;
    border: 5px solid black;
    background: linear-gradient(#65FDF0, #1D6FA3, #1f259d);
    margin: 0 auto;
    padding: 10px;
}

.tile{
    border: 1px solid turquoise;
    border-radius: 50%;
    animation: bounce 1.5s;
}

@keyframes bounce{
    0%, 100%{ transform: translateY(0);}
    40% {transform: translateY(-30px);}
    60% {transform: translateY(-15px);}
}

#reset-button {
    width: 100px;
    border: none;
    border-radius: 10px;
    margin: 30px auto;
    padding: 10px;
    font-size: 14px;
    color: #FFFFFF;
    background-color: #000000;
}

